<div style="margin: 150px;margin-top:-5px">
    <mat-card style="margin-top: 35px">
        <div class="row justify-content-center" style="margin-top: 35px;">
            
            <div class="row">
                <div class="col-lg-4">
                    <mat-card style="text-align: center;"> 
                        <img class="fas fa-trash-alt" src="./assets/img/docente/tiempo.png" width="30%" routerLink="/dashboard/registroActividadesDiarias"> 
                        <p style="margin-top: 35px;"><b> Actividades Diarias</b></p> 
                    </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card style="text-align: center;">
                        <img src="./assets/img/docente/asistencia.png" width="30%"   class="fas fa-trash-alt"  routerLink="/dashboard/asistencia"> 
                        <p style="margin-top: 35px;"><b> Asistencia</b></p> 
                    </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card style="text-align: center;">
                        <img class="fas fa-trash-alt" src="./assets/img/docente/monitoreo.png" width="30%" routerLink="/dashboard/registroMonitoreoDocente"> 
                        <p style="margin-top: 35px;"><b> Monitoreo Docente</b></p> 
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center" style="margin-top: 35px;">
            
            <div class="row">
                <div class="col-lg-4">
                    <mat-card style="text-align: center;"> 
                        <img class="fas fa-trash-alt" src="./assets/img/docente/certificado.png" width="30%"> 
                        <p style="margin-top: 35px;"><b> Emitir Certificado</b></p> 
                    </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card style="text-align: center;">
                        <img class="fas fa-trash-alt" src="./assets/img/docente/graduado.png" width="30%"> 
                        <p style="margin-top: 35px;"><b> Alumnos</b></p> 
                    </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card style="text-align: center;">
                        <img class="fas fa-trash-alt" src="./assets/img/docente/evidencia.png" width="30%"> 
                        <p style="margin-top: 35px;"><b> Evidencias</b></p> 
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center" style="margin-top: 35px;">
            
            <div class="row">
                <div class="col-lg-4">
                    <mat-card style="text-align: center;"> 
                        <img class="fas fa-trash-alt" src="./assets/img/docente/evaluacion.png" width="30%" routerLink="/dashboard/registroEvaluacionEstudiantil"> 
                        <p style="margin-top: 35px;"><b> Evaluación Estudiantil</b></p> 
                    </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card style="text-align: center;">
                        <img class="fas fa-trash-alt" src="./assets/img/docente/rendimiento.png" width="30%" routerLink="/dashboard/registroEvaluacionRendimiento"> 
                        <p style="margin-top: 35px;"><b> Evaluación y Rendimiento</b></p> 
                    </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card style="text-align: center;">
                        <img class="fas fa-trash-alt" src="./assets/img/docente/ficha.png" width="30%"> 
                        <p style="margin-top: 35px;"><b>Fichas</b></p> 
                    </mat-card>
                </div>
            </div>
        </div>
        
        <br><br>
        </mat-card>
</div>
