table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 16px;
    width: 80%;
  }

  .fi{
    text-align: center;
  }


  .button{
    /*height: 35px;*/
    background-color: #00539F;
    color: white;
}

.buttonNegro{
    background-color: black;
    color: white;
}

/*
mat-option[aria-selected="SV"] {
  background: red !important
}

mat-select[aria-selected="AP"] {
  background: red !important
}
*/
/*
.mat-option.mat-active {
  background: blue !important;
}

.mat-option.mat-selected {
  background: red !important;
}*/


.customer-badge.status-qualified {
  background-color: #c8e6c9;
  color: #256029;
}

.th{
  background-color: #3a4f63!important;
}


.classSucces
{
font-family: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Geneva, Verdana, sans-serif";
text-align: center;
border: #256029 2px solid;
border-radius: 10px;
color: #256029;
width: 50px;
font-weight: bold;
}

.classWarning
{
font-family: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Geneva, Verdana, sans-serif";
text-align: center;
border: #CE2B08 2px solid;
border-radius: 10px;
color: red;
width: 50px;
font-weight: bold;
}

.example-container {
  height: 670px;
  overflow: auto;
}


.botonColorido{
  background-color: #3a4f63;
  color: white;
}
