<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  >
    <!--mat-icon>menu</!--mat-icon-->
    <img src="./assets/img/logoUg.png"  width="65%">
  </button>
    <span>Vinculación con la Comunidad</span>
    <span class="example-spacer"></span>
    <span>  Bienvenido Richard Suarez </span>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon >logout</mat-icon>
      </button>
  </mat-toolbar>