<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  >
    <!--mat-icon>menu</!--mat-icon-->
    <img src="https://res.cloudinary.com/guayaquil19980/image/upload/v1663209420/vincomunidad/jixjvj4qutuidcc07sgr.png"  width="65%">
  </button>
    <span>Vinculación con la Comunidad</span>
    <span class="example-spacer"></span>
    <span>   Bienvenido {{nomusu.nombreUsuario}} </span>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="logout()" >logout</mat-icon>
      </button>
  </mat-toolbar>
