<br>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">

                <p style="text-align: center; font-size: large;"><b> Cronograma </b></p>
                <form [formGroup]="form">
                    <div style="justify-content:center ;text-align: center;margin-left: 50px;">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="input-group mb-3">
                                    <mat-form-field class="col-sm-8" appearance="legacy">
                                        <mat-label>Carrera</mat-label>
                                        <mat-select  [(value)]="idCarrera" name="food">
                                            <mat-option  *ngFor="let element of listCarrera" [value]="element.idCarrera">
                                                {{element.nombreCarrera}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <mat-form-field appearance="legacy" class="col-sm-8">
                                        <mat-label>Periodo Lectivo</mat-label>
                                        <mat-select  [(value)]="idAnioLectivo" name="food">
                                            <mat-option *ngFor="let element of listAnioLectivo"
                                                [value]="element.idAnioLectivo">
                                                {{element.nomAnioLectivo}} {{element.nomCiclo}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group mb-3">

                                    <mat-form-field appearance="legacy" class="col-sm-8">
                                        <mat-label>Proyecto</mat-label>
                                        <mat-select name="food">
                                            <mat-option  (click)="getCronograma()"  *ngFor="let element of listProyecto"
                                                [value]="element.idProyecto">
                                                {{element.tituloProyecto}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="col-lg-5">
                                <button  mat-button color="primary" class="button">Planificación</button>
                            </div>
                            <!--div class="col-lg-5">
                                <div class="input-group mb-3">
                                    <input atInput formControlName="fecha" class="form-control form-control-lg form-control-solid" type="date"
                                        style="font-size: medium;" >
                                </div>
                            </!--div-->
                        </div>


                    </div>

                    <div style="margin-left: 50px;">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label"><b>Fecha de Inicio</b> </label>
                                    <div class="col-sm-7">
                                      <input type="date"  class="form-control-plaintext" >
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label"><b>Fecha fin</b> </label>
                                    <div class="col-sm-7">
                                        <input type="date"  class="form-control-plaintext" >
                                      </div>
                                  </div>
                            </div>    
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label"><b>Hora de Inicio</b></label>
                                    <div class="col-sm-7">
                                      <input type="time"  class="form-control-plaintext" >
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label"><b>Hora fin</b></label>
                                    <div class="col-sm-7">
                                        <input type="time"  class="form-control-plaintext" >
                                      </div>
                                  </div>
                            </div>              
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label"><b>Hora Total por cumplir</b> </label>
                                    <div class="col-sm-7">
                                      <input type="number" class="form-control-plaintext" min="1" >
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label"><b>Cantidad de Estudiantes</b></label>
                                    <div class="col-sm-7">
                                        <input type="text"  class="form-control-plaintext" readonly >
                                      </div>
                                  </div>
                            </div>              
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label"><b>Director de Proyecto</b></label>
                                    <div class="col-sm-7">
                                        <mat-form-field appearance="legacy" >
                                            <mat-select  [(value)]="idAnioLectivo" >
                                                <mat-option *ngFor="let element of listAnioLectivo"
                                                    [value]="element.idAnioLectivo">
                                                    {{element.nomAnioLectivo}} {{element.nomCiclo}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
    
                                    </div>
                                  </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="inputPassword" class="col-sm-4 col-form-label"><b>Docente/Tutor 1</b></label>
                                    <div class="col-sm-7">
                                        <mat-form-field appearance="legacy" >
                                            <mat-select  [(value)]="idAnioLectivo" >
                                                <mat-option *ngFor="let element of listAnioLectivo"
                                                    [value]="element.idAnioLectivo">
                                                    {{element.nomAnioLectivo}} {{element.nomCiclo}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
    
                                      </div>
                                  </div>
                            </div>              
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4 row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label"><b>Docente/Tutor 2</b></label>
                                    <div class="col-sm-7">
                                        <mat-form-field appearance="legacy" >
                                            <mat-select  [(value)]="idAnioLectivo" >
                                                <mat-option *ngFor="let element of listAnioLectivo"
                                                    [value]="element.idAnioLectivo">
                                                    {{element.nomAnioLectivo}} {{element.nomCiclo}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
    
                                    </div>
                                  </div>
                            </div>
                                        
                        </div>
                    
                    </div>

                  

                    <div style="text-align: right;">
                        <button mat-button color="primary" class="button" >Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>