<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="./assets/img/logoCisc.jpg" class="derecha"></span>
        </div>

        <br/><br/><br/><br/><br/>
        <div class="row" style="text-align: right;">
          <b style="text-align: right;">GUAYAQUIL {{fechaGeneracion | date}}</b>
        </div>

         <div style="text-align: center; margin-top: 25%;">
            <b style="font-size: xx-large; font-family: 'Times New Roman', Times, serif;">CERTIFICADO DE PRÁCTICAS</b> <br /><br />
            <b style="font-size: xx-large; font-family: 'Times New Roman', Times, serif;">DE SERVICIO COMUNITARIO</b>
         </div>

         <br /><br />

         <p style="font-size: 130%;">Por medio de la presente certifico haber realizado la tutoría del proyecto
          <b>{{tituloProyecto}} {{nomAnioLectivo}} por el SR {{nombreEstudiante}}</b> de la carrera
            de {{nombreCarrera}} - desarrollo del {{minFecha | date:'dd/MM/yy'}} al {{maxFecha | date:'dd/MM/yy'}},
            con duración de {{totalHoras}} horas.</p>

            <p style="margin-top: 8%; font-size: 130%;">
                Se expide el presente certificado a solicitud del interesado, para los fines que sean convenientes.</p>

                <div class="row" style="text-align: center;margin-top: 10%;">
                  <b style="text-align: center;margin-top: 15%; font-size: 130%;">Muy atentamente,</b>
                </div>


          <div class="row" style="text-align: center;margin-top: 10%;">
            <b>________________________________________________________________</b>
         </div>

         <div class="row" style="text-align: center;font-size: 130%;">
                    <b>Ing {{nombreDocente}}</b>
         </div>

         <div class="row" style="text-align: center;font-size: 130%;" >
                    <b>C.I. {{identificacion}}</b>
         </div>
         <div class="row" style="text-align: center;font-size: 130%;" >
                    <b>DOCENTE DIRECTOR/COLABORADOR</b>
         </div>

      </div>
    </div>
  </div>

  <button (click)="pol()" >descargar</button>
