<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="./assets/img/logoCisc.jpg" class="derecha"></span>
        </div>
        
        <br/><br/><br/><br/><br/>
         <p style="text-align: right;">GUAYAQUIL 18 DE MARZO DE 2022</p>
        
         <div style="text-align: center; margin-top: 25%;">
            <b style="font-size: xx-large; font-family: 'Times New Roman', Times, serif;">CERTIFICADO DE PRÁCTICAS</b> <br /><br />
            <b style="font-size: xx-large; font-family: 'Times New Roman', Times, serif;">DE SERVICIO COMUNITARIO</b>   
         </div>
         
         <br /><br />

         <p style="font-size: 130%;">Por medio de la presente certifico haber realizado la tutoría del proyecto <b>ESTRATEGIAS TECNOLOGICAS PARA MEJORAR LAS HABILIDADES DE LECTURA Y REDUCIR LAS BARRERAS EN LA COMPRENSIÓN LECTORA
             EN NIÑOS Y ADOLESCENTES DEL CANTÓN ISIDRO 2021-2022 por el SR SUÁREZ JÁCOME RICHARD ADRIÁN</b> de la carrera
            de Ingeniería en Sistemas computacionales - desarrollo del 06/12/2021 al 18/03/2022,
            con duración de 96 horas.</p>

            <p style="margin-top: 8%; font-size: 130%;">
                Se expide el presente certificado a solicitud del interesado, para los fines que sean convenientes.</p>

           <p style="text-align: center;margin-top: 15%; font-size: 130%;">Muy atentamente,</p>


          <div class="row" style="text-align: center;margin-top: 10%;">
            <p>________________________________________________________________</p>
         </div>

         <div class="row" style="text-align: center;font-size: 130%;">  
                    <p>LCDO. NICOLÁS MARTILLO PIGUAVE</p>    
         </div>

         <div class="row" style="text-align: center;font-size: 130%;" >  
                    <p>C.I. 0951836592</p>
         </div>
         <div class="row" style="text-align: center;font-size: 130%;" >  
                    <b>RESPONSABLE DEL AREA</b>
         </div>

      </div>
    </div>
  </div>
  
  <button (click)="pol()" >descargar</button>
