<button  class="btn btn-outline-secondary" mat-button  (click)="pol()" >Descargar</button>
<br> <br>
<div class="container">
    <div class="row">
      <div id="htmlData" >
        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="{{logo}}" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br/>
             PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
        </div>

        <br/>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >FICHA DE EVALUACIÓN Y RENDIMIENTO DEL ESTUDIANTE</th>
                </tr>
        </table>

       <br/>

       <table style="width: 100%;border-color: white;">
        <tr style="border-color: white;">
          <th style="border-color: white;">LUGAR Y FECHA:</th>
          <th style="border-color: white;color: blue;">GUAYAQUIL {{fechaGeneracion |date: 'dd/MM/yyyy'}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE Y APELLIDOS DEL ESTUDIANTE:</th>
          <th style="border-color: white;color: blue;">{{nombreEstudiante}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">FACULTAD:</th>
          <th style="border-color: white;color: blue;">CIENCIAS MATEMÁTICAS Y FÍSICAS</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">CARRERA:</th>
          <th style="border-color: white;color: blue;">{{nombreCarrera}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE DE LA INSTITUCIÓN:</th>
          <th style="border-color: white;color: blue; ">{{nombreInstitucion}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">ÁREA DE DESEMPEÑO:</th>
          <th style="border-color: white;color: blue; ">{{areaDepartamento}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE DEL SUPERVISOR:</th>
          <th style="border-color: white;color: blue; ">{{nombreSupervisor}}</th>
        </tr>
      </table>
         <br/>

         <span>Indique con una X la calificación que usted considere adecuada, según la siguiente escala:</span>

         <br/>

         <div style="margin-left: 8%;">
            <b>E</b>  <span style="margin-left: 3%;">EXCELENTE</span>  <br/>
            <b>MS</b> <span style="margin-left: 2%;">MUY SATISFACTORIO</span>  <br/>
            <b>S</b>  <span style="margin-left: 3%;">SATISFACTORIO</span>  <br/>
            <b>PS</b> <span style="margin-left: 2%;">POCO SATISFACTORIO</span>  <br/>
            <b>NS</b> <span style="margin-left: 2%;">NADA SATISFACTORIO</span>  <br/>
         </div>

         <br/>

         <table style="width: 100%;">

            <tr align="center">
              <th class="col-lg-6">VALORACIÓN</th>
              <th class="col-lg-3">Calificación</th>
              <th class="col-lg-3">OBSERVACIONES</th>
            </tr>

            <tr align="center">
                <th colspan="3">ASPECTO TÉCNICO</th>
            </tr>

            <tr>
                <th class="col">Los conocimientos del estudiante aseguran una exitosa realización del proyecto</th>
                <th style="text-align: center;">{{calificacion1}}</th>
                <th rowspan="5" ></th>
              </tr>

              <tr>
                <th class="col">Demuestra interés y entusiasmo en aprender</th>
                <th style="text-align: center;">{{calificacion2}}</th>
              </tr>

              <tr>
                <th class="col">Posee iniciativa, constantemente pregunta por nuevas actividades</th>
                <th style="text-align: center;">{{calificacion3}}</th>
              </tr>

              <tr>
                <th class="col">Demuestra capacidad en la realización de sus actividades</th>
                <th style="text-align: center;">{{calificacion4}}</th>
              </tr>

              <tr>
                <th class="col">Es hábil para poner en práctica ideas propias o ajenas</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion5}}</th>
              </tr>

              <tr align="center">
                <th colspan="3">ASPECTO OPERATIVO</th>
            </tr>

            <tr>
                <th class="col">Demuestra compromiso en la realización de sus trabajos</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion6}}</th>
                <th rowspan="4" ></th>
              </tr>

              <tr>
                <th class="col">Es constante y siempre muy predispuesto a desempeñar la labor</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion7}}</th>
              </tr>

              <tr>
                <th class="col">Cumple con exactitud, esmero y orden los trabajos</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion8}}</th>
              </tr>

              <tr>
                <th class="col">Actúa voluntariamente en las actividades</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion9}}</th>
              </tr>

              <tr align="center">
                <th colspan="7">ASPECTO SOCIAL</th>
            </tr>

            <tr>
                <th class="col">Su actitud es proactiva y  facilita la tarea en equipo</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion10}}</th>
                <th rowspan="5" ></th>
              </tr>

              <tr>
                <th class="col">Coopera de manera permanente y espontánea</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion11}}</th>
              </tr>

              <tr>
                <th class="col">Es respetuoso </th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion12}}</th>
              </tr>

              <tr>
                <th class="col">Demuestra habilidades de liderazgo en los trabajos en equipo</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion13}}</th>
              </tr>

              <tr>
                <th class="col">Demuestra ser cuidadoso en su presentación personal</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion14}}</th>
              </tr>


              <tr align="center">
                <th colspan="7">ASPECTO ESTRATÉGICO</th>
            </tr>

            <tr>
                <th class="col">Demuestra ser eficaz en el análisis y resolución de problemas</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion15}}</th>
                <th rowspan="4" ></th>
              </tr>

              <tr>
                <th class="col">Es creativo y propone soluciones y/o alternativas para mejorar situaciones del proyecto</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion16}}</th>
              </tr>

              <tr>
                <th class="col">Es perseverante, cuando debe enfrentar situaciones difíciles, hasta que éste quede resuelto </th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion17}}</th>
              </tr>

              <tr>
                <th class="col">Es puntual</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion18}}</th>
              </tr>

          </table>

          <br/>
          <b>OBSERVACIONES GENERALES</b>
          <p></p>

          <br/><br/><br/>
          <br/><br/><br/>

          <div class="row">
            <div class="col-lg-6">
              <div class="linea"></div> <br>
              <div class="input-group mb-6">
                <b>{{nombreSupervisor}}</b>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="linea"></div> <br>
              <div class="input-group mb-6">
                <b>SELLO DE LA INSTITUCIÓN</b>
              </div>
            </div>
          </div>


      </div>
    </div>


