<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="./assets/img/logoCisc.jpg" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br/>
             PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
        </div>
        
        <br/> <br/>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >FICHA DE EVALUACIÓN Y RENDIMIENTO DEL ESTUDIANTE</th>
                </tr>
        </table>

       <br/><br/>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>LUGAR Y FECHA:</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <span style="color: blue;">ISIDRO AYORA</span>
                </div>
            </div>
            <div class="col-lg-3" style="margin-top: -2%;">
                <div class="input-group mb-3">
                    <table style="border: 1px solid black;">
                        <tr>
                            <th >DIA</th>
                            <th >MES</th>
                            <th >AÑO</th>
                        </tr>
                        <tr>
                            <th >18</th>
                            <th >18</th>
                            <th >18</th>
                        </tr>
                </table>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE Y APELLIDOS DEL ESTUDIANTE:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">RICHARD ADRIÁN SUÁREZ JÁCOME</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>FACULTAD:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">CIENCIAS MATEMÁTICAS Y FÍSICAS</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>CARRERA:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">INGENIERÍA DE SISTEMAS COMPUTACIONALES</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DE LA INSTITUCIÓN:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">GAD DE ISIDRO AYORA</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">LCDO. NICOLÁS MARTILLO PIGUAVE</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>CARGO DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">DIRECTOR DE GESTIÓN SOCIAL Y PARTICIPACIÓN CIUI</span>
                </div>
            </div>
         </div>

         <br/> <br/>
        
         <span>Indique con una X la calificación que usted considere adecuada, según la siguiente escala:</span>

         <br/> <br/>

         <div style="margin-left: 8%;">
            <b>E</b>  <span style="margin-left: 3%;">EXCELENTE</span>  <br/>
            <b>MS</b> <span style="margin-left: 2%;">MUY SATISFACTORIO</span>  <br/>
            <b>S</b>  <span style="margin-left: 3%;">SATISFACTORIO</span>  <br/>
            <b>PS</b> <span style="margin-left: 2%;">POCO SATISFACTORIO</span>  <br/>
            <b>NS</b> <span style="margin-left: 2%;">NADA SATISFACTORIO</span>  <br/>
         </div>

         <br/> <br/>

         <table style="width: 100%;">

            <tr align="center">      
              <th class="col">VALORACIÓN</th>      
              <th class="col-lg-1">NS</th>
              <th class="col-lg-1">PS</th>
              <th class="col-lg-1">S</th>
              <th class="col-lg-1">MS</th>
              <th class="col-lg-1">E</th>
              <th class="col-lg-3">OBSERVACIONES</th>
            </tr>
          
            <tr align="center">      
                <th colspan="7">ASPECTO TÉCNICO</th>      
            </tr>
          
            <tr>      
                <th class="col">Los conocimientos del estudiante aseguran una exitosa realización del proyecto</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="5" ></th>
              </tr>

              <tr>      
                <th class="col">Demuestra interés y entusiasmo en aprender</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Posee iniciativa, constantemente pregunta por nuevas actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Demuestra capacidad en la realización de sus actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Es hábil para poner en práctica ideas propias o ajenas</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr align="center">      
                <th colspan="7">ASPECTO OPERATIVO</th>      
            </tr>
          
            <tr>      
                <th class="col">Demuestra compromiso en la realización de sus trabajos</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="4" ></th>
              </tr>

              <tr>      
                <th class="col">Es constante y siempre muy predispuesto a desempeñar la labor</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Cumple con exactitud, esmero y orden los trabajos</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Actúa voluntariamente en las actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

 
              <tr align="center">      
                <th colspan="7">ASPECTO TÉCNICO</th>      
            </tr>
          
            <tr>      
                <th class="col">Los conocimientos del estudiante aseguran una exitosa realización del proyecto</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="5" ></th>
              </tr>

              <tr>      
                <th class="col">Demuestra interés y entusiasmo en aprender</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Posee iniciativa, constantemente pregunta por nuevas actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Demuestra capacidad en la realización de sus actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Es hábil para poner en práctica ideas propias o ajenas</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr align="center">      
                <th colspan="7">ASPECTO SOCIAL</th>      
            </tr>
          
            <tr>      
                <th class="col">Su actitud es proactiva y  facilita la tarea en equipo</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="5" ></th>
              </tr>

              <tr>      
                <th class="col">Coopera de manera permanente y espontánea</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Es respetuoso </th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Demuestra habilidades de liderazgo en los trabajos en equipo</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Demuestra ser cuidadoso en su presentación personal</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>


              <tr align="center">      
                <th colspan="7">ASPECTO ESTRATÉGICO</th>      
            </tr>
          
            <tr>      
                <th class="col">Demuestra ser eficaz en el análisis y resolución de problemas</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="4" ></th>
              </tr>

              <tr>      
                <th class="col">Es creativo y propone soluciones y/o alternativas para mejorar situaciones del proyecto</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Es perseverante, cuando debe enfrentar situaciones difíciles, hasta que éste quede resuelto </th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Es puntual</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

          </table>

          <br/> <br/> <br/>
          <b>OBSERVACIONES GENERALES</b>
          <p></p>

          <br/> <br/> <br/>

          <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>________________________________________________________________</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>________________________________________________________________</p>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>LCDO. NICOLAS MARTILLO PIGUAVE</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>SELLO DE INSTITUCIÓN</p>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <b>FIRMA DEL SUPERVISOR</b>
                </div>
            </div>
         </div>

      </div>
    </div>
  </div>
  
  <button (click)="pol()" >descargar</button>
