<div class="container">
    <div class="row">
      <div id="htmlData" >

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th class="col-lg-2"><img src="./assets/img/logoCisc.jpg" style="width: 100%;"></th>
                    <th class="col-lg-6">UNIVERSIDAD DE GUAYAQUIL<br />
                    FACULTAD CIENCIAS MATEMÁTICAS Y FÍSICAS <br />
                    CARRERA DE INGENIERÍA DE SISTEMAS COMPUTACIONALES<br />
                    DEPARTAMENTO DE VINCULACIÓN CON LA SOCIEDAD <br />
                   </th>
                   <th>
                    PROYECTO: <p>ESTRATEGIAS TECNOLOGICAS PARA MEJORAR LAS HABILIDADES DE LECTURA
                        Y REDUCIR LAS BARRERAS EN LA COMPRENSIÓN LECTORA EN NIÑOS Y
                        ADOLESCENTES DEL CANTÓN ISIDRO AYURA
                    </p>
                   </th>
                </tr>
        </table>

       <br/><br/>

        <p style="text-align: center;font-size: xx-large;"><b>EVIDENCIAS</b></p>
        <br />
        <p>Reunión y Planificación de la ceremonia de clausura del proyecto:</p>
       <br /> <br />
       <p>ESTRATEGIAS TECNOLÓGICAS PARA MEJORAR LAS HABILIDADES DE LECTURA Y REDUCIR LAS BARRERAS EN LA 
        COMPRENSIÓN LECTORA EN NIÑOS Y ADOLESCENTES DEL CANTÓN ISIDRO AYORA.</p>


      </div>
    </div>
  </div>
  
  <button (click)="pol()" >descargar</button>