<br>
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <p style="text-align: center; font-size: large; margin-top: 15px;"><b> Evaluación Estudiantil
                    </b></p>
                <br />

                <form [formGroup]="form">

                    <div style="justify-content:center ;text-align: center;margin-left: 50px;">
                        <div class="row">
                            <div class="col-lg-4">
                                <mat-form-field appearance="legacy" class="ancho">
                                    <mat-label>Carrera</mat-label>
                                    <mat-select [(value)]="idCarrera">
                                        <mat-option *ngFor="let element of listCarrera" [value]="element.idCarrera">
                                            {{element.nombreCarrera}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-4">
                                <mat-form-field appearance="legacy" class="ancho">
                                    <mat-label>Periodo Lectivo</mat-label>
                                    <mat-select [(value)]="idAnioLectivo">
                                        <mat-option *ngFor="let element of listAnioLectivo"
                                            [value]="element.idAnioLectivo">
                                            {{element.nomAnioLectivo}} {{element.nomCiclo}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="col-lg-4">
                                <mat-form-field appearance="legacy" class="ancho">
                                    <mat-label>Proyecto</mat-label>
                                    <mat-select [(value)]="idProyecto">
                                        <mat-option (click)="getEstudiante()" *ngFor="let element of listProyecto"
                                            [value]="element.idProyecto">
                                            {{element.tituloProyecto}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                    <div style="justify-content:center ;text-align: center;margin-left: 50px;">
                        <div class="row">
                            <div class="col-lg-4">
                                <mat-form-field appearance="legacy" class="ancho">
                                    <mat-label>Estudiantes</mat-label>
                                    <mat-select [(value)]="idUsuario">
                                        <mat-option *ngFor="let element of listEstudiante"
                                            [value]="element.idEstudiante">
                                            {{element.nombreEstudiante}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!--mat-dialog-content-- class="mat-typography"-->


                        <!--/mat-dialog-content-->
                    </div>

                    <mat-divider></mat-divider>
                    <p style="text-align: center; font-size: large; margin-top: 15px;"><b>Valoración</b></p>
                    <mat-divider></mat-divider>

                    <br/>
                    <span>Indique con una X la calificación que usted considere adecuada, según la siguiente escala:</span>
                    <br/>
                    <div style="margin-left: 8%;">
                        <b>E</b>  <span style="margin-left: 3%;">EXCELENTE</span>  <br/>
                        <b>MS</b> <span style="margin-left: 2%;">MUY SATISFACTORIO</span>  <br/>
                        <b>S</b>  <span style="margin-left: 3%;">SATISFACTORIO</span>  <br/>
                        <b>PS</b> <span style="margin-left: 2%;">POCO SATISFACTORIO</span>  <br/>
                        <b>NS</b> <span style="margin-left: 2%;">NADA SATISFACTORIO</span>  <br/>
                    </div>

                      <p style="text-align: center; font-size: large; margin-top: 15px;"><b>Conocimientos y Habilidades</b></p>
                          <div><!-- style="justify-content:center ;text-align: center;margin-left: 50px;"-->
                            <table class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Aplicación de los conocimientos teóricos y prácticos de la carrera.</td>
                                    <td>
                                        <mat-form-field appearance="legacy" class="ancho">
                                        <mat-select [(value)]="calificacion1" >
                                         <mat-option *ngFor="let element of lstValoracion"
                                             [value]="element.valor">
                                             {{element.name}}
                                         </mat-option>
                                     </mat-select>
                                 </mat-form-field>
                                </td>
                                  </tr>
                                  <tr>
                                    <td>Capacidad para resolver problemas</td>
                                    <td> <mat-form-field appearance="legacy" class="ancho">
                                        <mat-select [(value)]="calificacion2" >
                                         <mat-option *ngFor="let element of lstValoracion"
                                             [value]="element.valor">
                                             {{element.name}}
                                         </mat-option>
                                     </mat-select>
                                 </mat-form-field>
                                </td>
                                  </tr>
                                  <tr>
                                    <td>Utilización adecuada de procedimientos metodológicos</td>
                                    <td>  <mat-form-field appearance="legacy" class="ancho">
                                        <mat-select [(value)]="calificacion3">
                                         <mat-option *ngFor="let element of lstValoracion"
                                             [value]="element.valor">
                                             {{element.name}}
                                         </mat-option>
                                     </mat-select>
                                 </mat-form-field> </td>
                                  </tr>
                                  <tr>
                                    <td>Integración del grupo y trabajo en equipo</td>
                                    <td> <mat-form-field appearance="legacy" class="ancho">
                                        <mat-select [(value)]="calificacion4">
                                         <mat-option *ngFor="let element of lstValoracion"
                                             [value]="element.valor">
                                             {{element.name}}
                                         </mat-option>
                                     </mat-select>
                                 </mat-form-field> </td>
                                  </tr>

                                </tbody>
                              </table>

                              <br>

                             <!--mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Observación</mat-label>
                              <textarea  matInput></textarea>
                          </!--mat-form-field-->
                          </div>

                      <mat-divider></mat-divider>


                      <p style="text-align: center; font-size: large; margin-top: 15px;"><b>Asistencia
                          </b></p>

                      <div>
                        <table class="table table-striped">
                            <tbody>
                              <tr>
                                <td>Puntualidad del estudiante</td>
                                <td>
                                    <mat-form-field appearance="legacy" class="ancho">
                                        <mat-select [(value)]="calificacion5">
                                         <mat-option *ngFor="let element of lstValoracion"
                                             [value]="element.valor">
                                             {{element.name}}
                                         </mat-option>
                                     </mat-select>
                                 </mat-form-field>
                            </td>
                              </tr>
                              <tr>
                                <td>Responsabilidad, disposición y cumplimiento en la ejecución de las tareas</td>
                                <td> <mat-form-field appearance="legacy" class="ancho">
                                    <mat-select [(value)]="calificacion6" >
                                     <mat-option *ngFor="let element of lstValoracion"
                                         [value]="element.valor">
                                         {{element.name}}
                                     </mat-option>
                                 </mat-select>
                             </mat-form-field>
                            </td>
                              </tr>
                            </tbody>
                          </table>
                          <br>
                          <!--mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Observación</mat-label>
                              <textarea  matInput></textarea>
                          </!--mat-form-field-->
                      </div>

                        <mat-divider></mat-divider>

                      <p style="text-align: center; font-size: large; margin-top: 15px;"><b>Participación Comunitaria
                      </b></p>

                      <div >
                        <table class="table table-striped">
                            <tbody>
                              <tr>
                                <td>Predisposición y participación de la comunidad/beneficiarios en el proyecto</td>
                                <td>
                                    <mat-form-field appearance="legacy" class="ancho">
                                        <mat-select [(value)]="calificacion7">
                                         <mat-option *ngFor="let element of lstValoracion"
                                             [value]="element.valor">
                                             {{element.name}}
                                         </mat-option>
                                     </mat-select>
                                 </mat-form-field>
                            </td>
                              </tr>
                              <tr>
                                <td>Facilidad para integrar ideas con la comunidad/beneficarios para el desarrollo del proyecto</td>
                                <td> <mat-form-field appearance="legacy" class="ancho">
                                    <mat-select [(value)]="calificacion8">
                                     <mat-option *ngFor="let element of lstValoracion"
                                         [value]="element.valor">
                                         {{element.name}}
                                     </mat-option>
                                 </mat-select>
                             </mat-form-field>
                            </td>
                              </tr>
                            </tbody>
                          </table>
                          <br>
                          <!--mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Observación</mat-label>
                              <textarea  matInput></textarea>
                          </!--mat-form-field-->
                      </div>

                      <mat-divider></mat-divider>
                      <br /><br />


                      <p ><b>Indique sus sugerencias a la Universidad para que está pueda mejorar sus procesos académicos formativos</b></p>
                      <div s>
                          <div class="row">

                      <mat-form-field appearance="outline" style="width: 100%;">
                          <mat-label>Descripción
                          </mat-label>
                          <textarea formControlName="descripcion" matInput></textarea>
                      </mat-form-field>
                          </div>
                      </div>

                </form>


                <mat-dialog-actions align="end">
                    <button mat-button>Cancelar</button>
                    <button mat-button (click)="GuardarActividad()">Registrar</button>
                </mat-dialog-actions>

            </div>
        </div>
    </div>

</div>
