<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="./assets/img/logoCisc.jpg" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br/>
             PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
        </div>
        
        <br/> <br/>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >FICHA DE EVALUACIÓN ESTUDIANTIL</th>
                </tr>
        </table>

       <br/><br/>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>LUGAR Y FECHA:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">GUAYAQUIL 18 DE MARZO DE 2022</span>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE Y APELLIDOS DEL ESTUDIANTE:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">RICHARD ADRIÁN SUÁREZ JÁCOME</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>FACULTAD:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">CIENCIAS MATEMÁTICAS Y FÍSICAS</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>CARRERA:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">INGENIERÍA DE SISTEMAS COMPUTACIONALES</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DE LA INSTITUCIÓN:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">GAD DE ISIDRO AYORA</span>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>ÁREA DE DESEMPEÑO:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">GESTIÓN SOCIAL Y PARTICIPACIÓN CIUIDADANA</span>
                </div>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">LCDO. NICOLÁS MARTILLO PIGUAVE</span>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DEL DOCENTE:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">ING. JENNY ALEXANDRA ORTIZ ZAMBRANO MSC.</span>
                </div>
            </div>
         </div>

         <br/> <br/>
        
         <span>Indique con una X la calificación que usted considere adecuada, según la siguiente escala:</span>

         <br/> <br/>

         <div style="margin-left: 8%;">
            <b>E</b>  <span style="margin-left: 3%;">EXCELENTE</span>  <br/>
            <b>MS</b> <span style="margin-left: 2%;">MUY SATISFACTORIO</span>  <br/>
            <b>S</b>  <span style="margin-left: 3%;">SATISFACTORIO</span>  <br/>
            <b>PS</b> <span style="margin-left: 2%;">POCO SATISFACTORIO</span>  <br/>
            <b>NS</b> <span style="margin-left: 2%;">NADA SATISFACTORIO</span>  <br/>
         </div>

         <br/> <br/>

         <table style="width: 100%;">

            <tr align="center">      
              <th colspan="2" >VALORACIÓN</th>   
              <th class="col-lg-1">NS</th>
              <th class="col-lg-1">PS</th>
              <th class="col-lg-1">S</th>
              <th class="col-lg-1">MS</th>
              <th class="col-lg-1">E</th>
              <th class="col-lg-3">OBSERVACIONES</th>
            </tr>
          
            <tr>   
                <th rowspan="4" width="20%" style="text-align: center;">CONOCIMIENTOS Y HABILIDADES</th>         
                <th class="col" width="30%">Aplicación de los conocimientos teóricos y prácticos de la carrera</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="4" ></th>
              </tr>

              <tr>      
                <th class="col">Capacidad para resolver problemas</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Utilización adecuada de procedimientos metodológicos</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Integración del grupo y trabajo en equipo</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th rowspan="2" style="text-align: center;">ASISTENCIA</th>
                <th class="col-lg-1">Puntualidad del estudiante</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="2" ></th>
              </tr>

              <tr>      
                <th class="col">Responsabilidad, disposición y cumplimiento en la ejecución de las tareas</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th rowspan="2" style="text-align: center;">PARTICIPACIÓN COMUNITARIA</th>
                <th class="col-lg-1">Predisposición y participación de la comunidad/beneficiarios en el proyecto</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="2" ></th>
              </tr>


              <tr>      
                <th class="col">Facilidad para integrar ideas con la comunidad/beneficarios para el desarrollo del proyecto </th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
   
          </table>

          <br/> 
          <p>Indique sus sugerencias a la Universidad para que ésta pueda mejorar sus procesos académicos formativos.</p>

          <br/> <br/> <br/>

          <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>________________________________________________________________</p>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <b>FIRMA DEL ESTUDIANTE</b>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>RICHARD ADRIÁM SUÁREZ JÁCOME</p>
                </div>
                <b>C.I.  <span>0951836592</span></b>
            </div>
         </div>

      </div>
    </div>
  </div>
  
  <button (click)="pol()" >descargar</button>