<button  class="btn btn-outline-secondary" mat-button  (click)="pol()" >Descargar</button>
<br> <br>
<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="{{logo}}" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br/>
             PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
        </div>

        <br/>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >FICHA DE EVALUACIÓN ESTUDIANTIL</th>
                </tr>
        </table>

       <br/>

       <table style="width: 100%;border-color: white;">
        <tr style="border-color: white;">
          <th style="border-color: white;">LUGAR Y FECHA:</th>
          <th style="border-color: white;color: blue;">GUAYAQUIL {{fechaGeneracion |date: 'dd/MM/yyyy'}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE Y APELLIDOS DEL ESTUDIANTE:</th>
          <th style="border-color: white;color: blue;">{{nombreEstudiante}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">FACULTAD:</th>
          <th style="border-color: white;color: blue;">CIENCIAS MATEMÁTICAS Y FÍSICAS</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">CARRERA:</th>
          <th style="border-color: white;color: blue;">{{nombreCarrera}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE DE LA INSTITUCIÓN:</th>
          <th style="border-color: white;color: blue; ">{{nombreInstitucion}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">ÁREA DE DESEMPEÑO:</th>
          <th style="border-color: white;color: blue; ">{{areaDepartamento}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE DEL SUPERVISOR:</th>
          <th style="border-color: white;color: blue; ">{{nombreSupervisor}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE DEL DOCENTE:</th>
          <th style="border-color: white;color: blue; ">{{nombreDocente}}</th>
        </tr>
      </table>
      <!---
cedEstudiante: "0981203639"
cedulaSupervisor: "0954158742"
e: ""
fechaGeneracion: null
ms: ""
nombreCarrera: "Ingeniería de Sistemas Computacionales"
nombreDocente: "Victor  Estrada "
nombreEstudiante: "Cristina Isabel Contreras Guerrero"
nombreSupervisor: "Julio Ferico Vinueza Jacome"
ns: ""
ps: "PS"
s: ""
        --->

         <br/>

         <span>Indique con una X la calificación que usted considere adecuada, según la siguiente escala:</span>

         <br/>

         <div style="margin-left: 8%;">
            <b>E</b>  <span style="margin-left: 3%;">EXCELENTE</span>  <br/>
            <b>MS</b> <span style="margin-left: 2%;">MUY SATISFACTORIO</span>  <br/>
            <b>S</b>  <span style="margin-left: 3%;">SATISFACTORIO</span>  <br/>
            <b>PS</b> <span style="margin-left: 2%;">POCO SATISFACTORIO</span>  <br/>
            <b>NS</b> <span style="margin-left: 2%;">NADA SATISFACTORIO</span>  <br/>
         </div>

         <br/>

         <table style="width: 100%;">

            <tr align="center">
              <th class="col-lg-6">VALORACIÓN</th>
              <th class="col-lg-3">CALIFICACIÓN</th>
              <th class="col-lg-3">OBSERVACIONES</th>
            </tr>

            <tr align="center">
              <th colspan="3">ASPECTO TÉCNICO</th>
            </tr>

            <tr>
                <th class="col" >Aplicación de los conocimientos teóricos y prácticos de la carrera</th>
                <th style="text-align: center;">{{calificacion1}}</th>
                <th rowspan="4"></th>
          </tr>


              <tr>
                <th class="col">Capacidad para resolver problemas</th>
                <th style="text-align: center;">{{calificacion2}}</th>
              </tr>

              <tr>
                <th class="col">Utilización adecuada de procedimientos metodológicos</th>
                <th style="text-align: center;">{{calificacion3}}</th>
              </tr>

              <tr>
                <th class="col">Integración del grupo y trabajo en equipo</th>
                <th style="text-align: center;">{{calificacion4}}</th>
              </tr>

              <tr align="center">
                <th colspan="3">ASISTENCIA</th>
            </tr>

              <tr>
                <th class="col-lg-1">Puntualidad del estudiante</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion5}}</th>
                <th rowspan="2" ></th>
              </tr>

              <tr>
                <th class="col">Responsabilidad, disposición y cumplimiento en la ejecución de las tareas</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion6}}</th>
              </tr>

              <tr align="center">
                <th colspan="3">PARTICIPACIÓN COMUNITARIA</th>
            </tr>


              <tr>
                <th class="col-lg-1">Predisposición y participación de la comunidad/beneficiarios en el proyecto</th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion7}}</th>
                <th rowspan="2" ></th>
              </tr>


              <tr>
                <th class="col">Facilidad para integrar ideas con la comunidad/beneficarios para el desarrollo del proyecto </th>
                <th class="col-lg-1" style="text-align: center;">{{calificacion8}}</th>
              </tr>

          </table>

          <br/>
          <p>Indique sus sugerencias a la Universidad para que ésta pueda mejorar sus procesos académicos formativos.</p>

          <br/> <br/> <br/>

          <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>________________________________________________________________</p>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <b>FIRMA DEL ESTUDIANTE</b>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <b>{{nombreEstudiante}}</b>
                </div>
                <b>C.I.  <span>{{this.cedEstudiante}}</span></b>
            </div>
         </div>

      </div>
    </div>
  </div>

