<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="./assets/img/logoCisc.jpg" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br/>
             PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
        </div>
        
        <br/> <br/>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >FICHA DE MONITOREO DEL DOCENTE DIRECTOR/COLABORADOR</th>
                </tr>
        </table>

       <br/><br/>
        
        <div class="row">
            <div class="col-lg-5">
                <div class="input-group mb-3">
                    <span>LUGAR Y FECHA:</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <span style="color: blue;">ISIDRO AYORA</span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group mb-3">
                   08/07/2022
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group mb-2">
                   N# VISITA:  1
                </div>
                <div class="input-group mb-5">
                    HORA:  18:00
                 </div>
            </div>
        </div>



        <div class="row" style="margin-top: -20px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DEL DOCENTE DIRECTOR/COLABORADOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">ING. JENNY ALEXANDRA ORTIZ ZAMBRANO MSC.</span>
                </div>
            </div>
         </div>


         <div class="row" style="margin-top: -12px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE Y APELLIDOS DEL  ESTUDIANTE:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">RICHARD ADRIÁN SUÁREZ JÁCOME</span>
                </div>
            </div>
         </div>

         <div class="row" style="margin-top: -12px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>FACULTAD:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">CIENCIAS MATEMATICAS Y FISICAS</span>
                </div>
            </div>
         </div>


         <div class="row" style="margin-top: -12px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>CARRERA:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">INGENIERÍA DE SISTEMAS COMPUTACIONALES</span>
                </div>
            </div>
         </div>


         <div class="row" style="margin-top: -12px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DE LA INSTITUCIÓN:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">GAD DE ISIDRO AYORA</span>
                </div>
            </div>
         </div>


         <div class="row" style="margin-top: -12px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>ÁREA DE DESEMPEÑO</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">GESTIÓN SOCIAL Y PARTICIPACIÓN CIUDADANA</span>
                </div>
            </div>
         </div>



         <div class="row" style="margin-top: -12px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">LCDO. NICOLÁS MARTILLO PIGUAVE</span>
                </div>
            </div>
         </div>


         <div class="row" style="margin-top: -12px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>CARGO DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">DIRECTOR DE GESTIÓN SOCIAL Y PARTICIPACIÓN CIUI</span>
                </div>
            </div>
         </div>
        
         <span>Indique con una X la calificación que usted considere adecuada, según la siguiente escala:</span>
         <br/>

         <div class="row" style="margin-left: 8%;">
            <div class="col-lg-1">
                <div class="input-group mb-3">
                    <b>E</b>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span style="margin-left: 3%;">EXCELENTE</span>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="input-group mb-3">
                    <b>PS</b>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span style="margin-left: 2%;">POCO SATISFACTORIO</span>
                </div>
            </div>
         </div>

         <div class="row" style="margin-left: 8%; margin-top: -12px;">
            <div class="col-lg-1">
                <div class="input-group mb-3">
                    <b>MS</b> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span style="margin-left: 2%;">MUY SATISFACTORIO</span> 
                </div>
            </div>
            <div class="col-lg-1">
                <div class="input-group mb-3">
                    <b>NS</b> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span style="margin-left: 2%;">NADA SATISFACTORIO</span>
                </div>
            </div>
         </div>


         <div class="row" style="margin-left: 8%; margin-top: -12px;">
            <div class="col-lg-1">
                <div class="input-group mb-3">
                    <b>S</b> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span style="margin-left: 2%;">SATISFACTORIO</span> 
                </div>
            </div>
         </div>

         <table style="width: 100%;">

            <tr align="center" >      
              <th >VALORACIÓN</th>      
              <th class="col-lg-1">NS</th>
              <th class="col-lg-1">PS</th>
              <th class="col-lg-1">S</th>
              <th class="col-lg-1">MS</th>
              <th class="col-lg-1">E</th>
              <th class="col-lg-3">OBSERVACIONES</th>
            </tr>
          
            <tr align="center">      
                <th colspan="7">ASPECTO TÉCNICO</th>      
            </tr>
          
            <tr>      
                <th class="col" width="55%">Los conocimientos del practicante aseguran una exitosa realización de las actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="5" ></th>
              </tr>

              <tr>      
                <th class="col">Demuestra interés y entusiasmo en aprender</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Posee iniciativa, constantemente pregunta por nuevas actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Demuestra capacidad en la realización de sus actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Es hábil para poner en práctica ideas propias o ajenas</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr align="center">      
                <th colspan="7">ASPECTO OPERATIVO</th>      
            </tr>
          
            <tr>      
                <th class="col">Demuestra compromiso en la realización de sus actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="4" ></th>
              </tr>

              <tr>      
                <th class="col">Es constante y siempre muy predispuesto a desempeñar la labor</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Cumple con exactitud, esmero y orden las actividades</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Actúa voluntariamente en las actividades de rutina</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

 
              <tr align="center">      
                <th colspan="7">ASPECTO SOCIAL</th>      
            </tr>
          
            <tr>      
                <th class="col">Su actitud es proactiva y  facilita la tarea en equipo</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="5" ></th>
              </tr>

              <tr>      
                <th class="col">Coopera de manera permanente y espontánea</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Es respetuoso </th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Demuestra habilidades de liderazgo en las actividades en equipo</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Demuestra ser cuidadoso en su presentación personal</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr align="center">      
                <th colspan="7">ASPECTO ESTRATÉGICO</th>      
            </tr>
          
            <tr>      
                <th class="col">Demuestra ser eficaz en el análisis y resolución de problemas</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th rowspan="4" ></th>
              </tr>

              <tr>      
                <th class="col">Tiene la habilidad para evaluar datos y de tomar decisiones lógicas de manera imparcial y desde el punto de vista racional</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>
       
              <tr>      
                <th class="col">Es perseverante, cuando debe enfrentar situaciones difíciles de trabajo, hasta que éste quede resuelto </th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

              <tr>      
                <th class="col">Es puntual</th>      
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
                <th class="col-lg-1"></th>
              </tr>

          </table>

          <br/> 
          <b>OBSERVACIONES GENERALES</b>
          <p></p>

          <br/> 
          <b>RECOMENDACIONES</b>
          <p></p>

          <br/> 

          <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>________________________________________________________________</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>________________________________________________________________</p>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <b>FIRMA REPRESENTANTE INSTITUCIÓN</b>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>FIRMA DOCENTE DIRECTOR/COLABORADOR</p>
                </div>
            </div>
         </div>

         <div class="row" >
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>ING. LORENZO CEVALLOS TORRES, MSC</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>ING. JENNY ALEXANDRA ORTIZ ZAMBRANO MSC.</p>
                </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-6">
                    <p>DIRECTOR(A) DE CISC Y SOFTWARE</p>
                </div>
            </div>
         </div>

      </div>
    </div>
  </div>
  
  <button (click)="pol()" >descargar</button>
