<button  class="btn btn-outline-secondary" mat-button  (click)="pol()" >Descargar</button>
<br> <br>
<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="{{logo}}" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br/>
             PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
        </div>

        <br/>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >FICHA DE DATOS GENERALES</th>
                </tr>
        </table>

        <table style="width: 100%;border-color: white;">
          <tr style="border-color: white;">
            <th style="border-color: white;">NOMBRE DEL PROYECTO:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{tituloProyecto}}</th>
          </tr>
      </table>

       <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
            <tr>
                <th >DATOS DEL O LOS ESTUDIANTES</th>
            </tr>
        </table>

        <table style="width: 100%;border-color: white;">
            <tr style="border-color: white;">
              <th style="border-color: white;">FACULTAD:</th>
              <th style="border-color: white;color: blue;text-align: center;">CIENCIAS MATEMATICAS Y FISICAS</th>
            </tr>
            <tr style="border-color: white;">
              <th style="border-color: white;">CARRERA:</th>
              <th style="border-color: white;color: blue;text-align: center;">{{nombreCarrera}}</th>
            </tr>
        </table>

<!--------------- DATOS DEL O LOS ESTUDIANTES REGISTRADOS EN UN PROYECTO------------------------------------------------------>

<table style="width: 100%;border-color: white;">
  <div *ngFor="let item of listFichaGeneral">
    <tr style="border-color: white;">
      <th style="border-color: white;">NOMBRES Y APELLIDOS</th>
      <th style="border-color: white;color: blue;"> {{item.nombreEstudiante}}</th>
    </tr>
    <tr style="border-color: white;">
      <th style="border-color: white;">CEDULA DE CIUDADANÍA:</th>
      <th style="border-color: white;color: blue;">{{item.cedulaEstudiante}}</th>
      <th style="border-color: white;">E-MAIL:</th>
      <th style="border-color: white;color: blue;">{{item.correoEstudiante}}</th>
      <th style="border-color: white;">Firma:</th>
      <th style="border-color: white;color: blue;"></th>
    </tr>
  </div>
</table>

<br>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >DATOS DE LA INSTITUCION DONDE REALIZA LAS PRACTICAS/PASANTIAS</th>
                </tr>
        </table>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>NOMBRE DE LA INSTITUCIÓN</b></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{nombreInstitucion}}</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>R.U.C.</b></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{ruc}}</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>DIRECCIÓN</b></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{direccion}}</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>TELÉFONOS:</b></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{telefonos}}</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>CORREO ELECTRÓNICO:</b></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{email}}</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>NOMBRE DEL SUPERVISOR:</b></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{nombreSupervisor}}</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>C.I. DEL SUPERVISOR:</b></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{cedulaSupervisor}}</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>CARGO DEL SUPERVISOR:</b> </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{cargoSupervisor}} </span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -15px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span><b>AREA/DPTO:</b> </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">{{departamentoSupervisor}}</span>
                </div>
            </div>
         </div>

         <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
            <tr>
                <th>DATOS DE LA PRÁCTICA DE SERVICIO COMUNITARIO</th>
            </tr>
         </table>

         <br />

         <table style="width: 100%;border-color: white;">
          <tr style="border-color: white;">
            <th style="border-color: white;">FECHA DE INICIO:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{fechaInicio |date: 'dd/MM/yyyy'}}</th>
            <th style="border-color: white;">FECHA PROGRAMADA:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{fechaProgramada |date: 'dd/MM/yyyy'}}</th>
            <th style="border-color: white;">FECHAFINAL REAL:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{fechaFinalReal |date: 'dd/MM/yyyy'}}</th>
          </tr>
          <tr style="border-color: white;">
            <th style="border-color: white;">JORNADA DE LA PRÁCTICA:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{jornadaPractica}}</th>
            <th style="border-color: white;">DIAS DE LA SEMANA:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{diasSemanas}}</th>
            <th style="border-color: white;">HORARIO:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{horario}}</th>
          </tr>
          <tr style="border-color: white;">
            <th style="border-color: white;">CÓDIGO DEL PROYECTO:</th>
            <th style="border-color: white;color: blue;text-align: center;">{{codigoProyecto}}</th>
         </tr>
      </table>

  <br />
  <table style="width: 100%;border-color: white;">
    <tr style="border-color: white;">
      <th style="border-color: white;">NOMBRE DEL DOCENTE:</th>
      <th style="border-color: white;color: blue;text-align: center;">ING. {{nombreDocente}}.</th>
    </tr>

</table>

 <br />

 <div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-6">
            <p>________________________________________________________________</p>
        </div>
    </div>
 </div>

 <div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-6">
            <p><b>ING. {{nombreDocente}}</b></p>
        </div>
    </div>
 </div>

 <div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-6">
            <b>FIRMA DEL DOCENTE</b>
        </div>
    </div>
 </div>


    </div>
  </div>

