<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="./assets/img/logoCisc.jpg" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <b style="font-size: 12px;"> CARRERA DE {{nombreCarrera}} <br/>
             CONTROL DE ASISTENCIAS COMUNITARIAS</b>
        </span>
        </div>

        <br/>

        <table width="100%" style="text-align: center;">
            <tr>
                <th>Estudiante: </th>
                <th colspan="6" style="color: blue;">{{nombreEstudiante}}</th>
            </tr>
            <tr>
                <th class="col-lg-2">INSTITUCIÓN</th>
                <th class="col-lg-3" style="color: blue;">{{nombreInstitucion}}</th>
                <th class="col-lg-2">DEPARTAMENTO</th>
                <th class="col-lg-5" colspan="4" style="color: blue;">{{departamento}}</th>
            </tr>
            <tr>
                <th class="col-lg-2">FECHA INICIAL</th>
                <th class="col-lg-3" style="color: blue;">{{fechaInicio}}</th>
                <th class="col-lg-2">FECHA FINAL</th>
                <th class="col-lg-5" colspan="4" style="color: blue;">{{fechaFin}}</th>
            </tr>
            <tr>
                <th>FECHA</th>
                <th>Asistió</th>
                <th>HORAS</th>
                <th>FIRMA DEL ESTUDIANTE</th>
                <th>OBSERVACIÓN</th>
            </tr>
            <tr *ngFor="let item of detalleAsistencia">
                <th style="font-weight: normal;">{{item.fecha}}</th>
                <th style="font-weight: normal;">{{item.asistencia ? "Sí" : "No"}}</th>
                <th style="font-weight: normal;">{{item.horas}}</th>
                <th style="font-weight: normal;"></th>
                <th style="font-weight: normal;"></th>
            </tr>
        </table>



 <br />

 <div class="row" style="justify-content: center;">
    <div class="col-lg-4">
        <div class="input-group mb-6">
            <p>_______________________________________________</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-6">
            <p>_______________________________________________</p>
        </div>
    </div>
 </div>

 <div class="row" style="justify-content: center;">
    <div class="col-lg-4">
        <div class="input-group mb-6">
            <p>LCDO. NICOLÁS MARTILLO PIGUAVE AGUIRRE</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-6">
            <p>ING. JENNY ALEXANDRA ORTIZ ZAMBRANO MSC</p>
        </div>
    </div>
 </div>

 <div class="row" style="justify-content: center; margin-top: -10px;">
    <div class="col-lg-4">
        <div class="input-group mb-6">
            <p style="margin-inline-start: 30px;">(RESPONSABLE AREA/DPTO/FCI)</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-6">
            <p>APROBADO POR DOCENTE DIRECTOR/COLABORADOR
    </div>
 </div>

    </div>
  </div>


    </div>
</div>

  <button (click)="pol()" >descargar</button>
