<div class="container">
    <div class="row">
      <div id="htmlData" >

        <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="./assets/img/logoCisc.jpg" class="derecha"> <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br/>
            FACULTAD DE CIENCIAS MATEMÁTICAS Y FÍSICAS </b></span><br/>
            <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br/>
             PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
        </div>
        
        <br/> <br/>

        <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
                <tr>
                    <th >FICHA DE ACTIVIDADES DIARIAS</th>
                </tr>
        </table>

                <br/>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRES Y APELLIDOS DEL ESTUDIANTE</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">SUAREZ JACOME RICHARD ADRIAN</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>FACULTAD</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">CIENCIAS MATEMATICAS Y FISICAS</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>CARRERA</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">INGENIERIA DE SISTEMAS COMPUTACIONALES</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DEL SUPERVISOR</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">LCDO. NICOLAS MARTILLO PIGUAVE</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>C.I. DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">0951836592</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>NOMBRE DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">LCDO. NICOLAS MARTILLO PIGUAVE</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>C.I. DEL SUPERVISOR:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">0951836592</span>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>SEMANA No:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">1</span>
                </div>
            </div>
         </div>

         <br /><br />

         <table width="100%" style="text-align: center;">
            <tr>
                <th>DÍA Y FECHA</th>
                <th>No DE HORAS</th>
                <th>DESCRICIÓN DE TAREAS DIARIAS DESARROLLADAS</th>
            </tr>
            <tr>
                <th>06/12/2021</th>
                <th>2:00:00</th>
                <th>INICIO DEL PROYECTO <br />
                    Asignación de estudiantes <br/>
                    Asignación de docentes colaboradores <br/>
                    Planificación de las actividades a llevarse a cabo in situ
                </th>
            </tr>
            <tr>
                <th>06/12/2021</th>
                <th>2:00:00</th>
                <th>INICIO DEL PROYECTO <br />
                    Asignación de estudiantes <br/>
                    Asignación de docentes colaboradores <br/>
                    Planificación de las actividades a llevarse a cabo in situ
                </th>
            </tr>
            <tr>
                <th>06/12/2021</th>
                <th>2:00:00</th>
                <th>INICIO DEL PROYECTO <br />
                    Asignación de estudiantes <br/>
                    Asignación de docentes colaboradores <br/>
                    Planificación de las actividades a llevarse a cabo in situ
                </th>
            </tr>
            <tr>
                <th>06/12/2021</th>
                <th>2:00:00</th>
                <th>INICIO DEL PROYECTO <br />
                    Asignación de estudiantes <br/>
                    Asignación de docentes colaboradores <br/>
                    Planificación de las actividades a llevarse a cabo in situ
                </th>
            </tr>
            <tr>
                <th>06/12/2021</th>
                <th>2:00:00</th>
                <th>INICIO DEL PROYECTO <br />
                    Asignación de estudiantes <br/>
                    Asignación de docentes colaboradores <br/>
                    Planificación de las actividades a llevarse a cabo in situ
                </th>
            </tr>
         </table>

         <br />
         <span>TOTAL DE HORAS:<span>10:00:00</span></span>

         <br/><br/><br/>
         <b>OBSERVACIONES:</b>

         <br/><br/><br/> <br/><br/><br/>
 <div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-6">
            <p>________________________________________________________________</p>
        </div>
    </div>
 </div>

 <div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-6">
            <p>LCDO. NICOLÁS MARTILLO PIGUAVE</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group mb-6">
            <p>SELLO DE LA INSTITUCIÓN</p>
        </div>
    </div>
 </div>

 <div class="row">
            <p>(RESPONSABLE AREA/DPTO/FCI)</p>
 </div>


    </div>
  </div>
  
  <button (click)="pol()" >descargar</button>
