<button  class="btn btn-outline-secondary" mat-button  (click)="pol()" >Descargar</button>
<br> <br>
<div class="container">
  <div class="row">
    <div id="htmlData">
      <div style="text-align:center;">
        <span><img src="./assets/img/logoUg.png" class="izquierda"><img src="{{logo}}" class="derecha">
          <span style="font-size: 14px;"><b>UNIVERSIDAD DE GUAYAQUIL <br />
              {{nombreCarrera}} </b></span><br />
          <span style="font-size: 12px;"> DIRECCIÓN DE GESTIÓN SOCIAL DEL CONOCIMIENTO <br />
            PRÁCTICAS DE SERVICIO COMUNITARIO</span>
        </span>
      </div>
      <br />
      <table style="border: 1px solid black; justify-content: center; text-align: center; width: 100%;">
        <tr>
          <th>FICHA DE ACTIVIDADES DIARIAS</th>
        </tr>
      </table>
      <br>
      <table style="width: 100%;border-color: white;">
        <tr style="border-color: white;">
          <th style="border-color: white;">LUGAR Y FECHA</th>
          <th style="border-color: white;color: blue;">21/09/2022</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRES Y APELLIDOS DEL ESTUDIANTE</th>
          <th style="border-color: white;color: blue;">{{nombreEstudiante}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">FACULTAD</th>
          <th style="border-color: white;color: blue;">CIENCIAS MATEMATICAS Y FISICAS</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">CARRERA</th>
          <th style="border-color: white;color: blue;">{{nombreCarrera}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">NOMBRE DEL SUPERVISOR</th>
          <th style="border-color: white;color: blue;">{{nombreSupervisor}}</th>
        </tr>
        <tr style="border-color: white;">
          <th style="border-color: white;">C.I. DEL SUPERVISOR:</th>
          <th style="border-color: white;color: blue; ">{{cedulaSupervisor}}</th>
        </tr>
      </table>
      <br />
      <!--div class="row" style="margin-top: -10px;">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span>SEMANA No:</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span style="color: blue;">1</span>
                </div>
            </div>
         </!--div-->

      <table width="100%" style="text-align: center;">
        <tr>
          <th>DÍA Y FECHA</th>
          <th>No DE HORAS</th>
          <th>DESCRICIÓN DE TAREAS DIARIAS DESARROLLADAS</th>
        </tr>
        <tr *ngFor="let item of listFichaActividadDiaria">
          <th>{{item.fecha |date: 'dd/MM/yyyy'}}</th>
          <th>{{item.horas}}</th>
          <th>
            {{item.descripcionActividad}}
          </th>
        </tr>
      </table>

      <br />
      <span><b>TOTAL DE HORAS:</b>&nbsp;&nbsp;<span>{{totalHoras}}</span></span>

      <br /><br /><br />
      <b>OBSERVACIONES:</b>

      <br /><br /><br />

      <div class="row">
        <div class="col-lg-6">
          <div class="linea"></div> <br>
          <div class="input-group mb-6">
            <b>{{nombreSupervisor}}</b>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="linea"></div> <br>
          <div class="input-group mb-6">
            <b>SELLO DE LA INSTITUCIÓN</b>
          </div>
        </div>
      </div>

      <div class="row">
        <b>(RESPONSABLE AREA/DPTO/FCI)</b>
      </div>


    </div>
  </div>


